Repository smit-happens/YCP_EVOS, pull requests merged in 2018-04, with the labels that each got.

#148 found a bug with not updating the Unitek model during precharge
  MainBrain/src/Controller/CanController/CanController.cpp
  MainBrain/src/Controller/GlcdController/GlcdController.cpp
  MainBrain/src/Manager/StageManager/StageManager.cpp
Labels: CAN, unitek

#154 Sd logger complete
  MainBrain/src/Controller/Logger/SerialLogger.cpp
  MainBrain/src/Controller/SdCardController/SdCardController.cpp
  MainBrain/src/Controller/SdCardController/SdCardController.hpp
  MainBrain/src/Controller/UnitekController/UnitekController.cpp
  MainBrain/src/Manager/StageManager/StageManager.cpp
  MainBrain/src/Model/SdCard/SdCard.cpp
  MainBrain/src/Model/SdCard/SdCard.hpp
  MainBrain/src/main.cpp
Labels: Logging

#153 Unitek error checks
  MainBrain/src/Controller/CanController/CanController.cpp
  MainBrain/src/Manager/StageManager/StageManager.cpp
Labels: CAN, unitek

#150 #130 #128 #106 implements pedal tolerance and if brake is pressed
  MainBrain/src/Controller/PedalController/PedalController.cpp
Labels: CAN, pedals, unitek

#157 fixes tolerance bug
  MainBrain/src/Controller/PedalController/PedalController.cpp
Labels: pedals, unitek

#159 Standby
  MainBrain/src/Controller/BaseController/BaseController.hpp
  MainBrain/src/Controller/CanController/CanController.cpp
  MainBrain/src/Controller/GlcdController/GlcdController.cpp
  MainBrain/src/Controller/GlcdController/GlcdController.hpp
  MainBrain/src/Controller/Logger/LogListener.hpp
  MainBrain/src/Controller/Logger/Logger.cpp
  MainBrain/src/Controller/Logger/Logger.hpp
  MainBrain/src/Controller/Logger/SerialLogger.cpp
  MainBrain/src/Controller/Logger/SerialLogger.hpp
  MainBrain/src/Controller/OrionController/OrionController.cpp
  MainBrain/src/Controller/OrionController/OrionController.hpp
  MainBrain/src/Controller/PedalController/PedalController.cpp
  MainBrain/src/Controller/SdCardController/SdCardController.cpp
  MainBrain/src/Controller/SdCardController/SdCardController.hpp
  MainBrain/src/Manager/StageManager/StageManager.cpp
  MainBrain/src/Manager/StageManager/StageManager.hpp
  MainBrain/src/Model/Can/Can.cpp
  MainBrain/src/Model/SdCard/SdCard.cpp
  MainBrain/src/Model/SdCard/SdCard.hpp
  MainBrain/src/main.cpp
  MainBrain/test/ModelTest/SdCardTest/SdCardTest.cpp
Labels: dash, stage

#163 Error handling
  MainBrain/src/Controller/Logger/Logger.cpp
  MainBrain/src/Controller/PedalController/PedalController.cpp
  MainBrain/src/Controller/PedalController/PedalController.hpp
  MainBrain/src/Controller/SdCardController/SdCardController.cpp
  MainBrain/src/Controller/UnitekController/UnitekController.cpp
  MainBrain/src/Manager/StageManager/StageManager.cpp
  MainBrain/src/Manager/StageManager/StageManager.hpp
  MainBrain/src/Model/Constants/Constants.hpp
  MainBrain/src/Model/Constants/Flags.hpp
  MainBrain/src/Model/Constants/TimeDelay.hpp
  MainBrain/src/Model/Queue/Queue.cpp
  MainBrain/src/main.cpp
  MainBrain/test/ModelTest/CanTest/CanTest.cpp
Labels: orion, pedals

#164 #130 #106 found values for the min/max pedal values
  MainBrain/src/Controller/PedalController/PedalController.cpp
  MainBrain/src/Model/Constants/Constants.hpp
Labels: pedals

#166 Glcd
  .travis.yml
  MainBrain/src/BMS_ERR.xbm
  MainBrain/src/Controller/DashController/DashController.cpp
  MainBrain/src/Controller/DashController/DashController.hpp
  MainBrain/src/Controller/GlcdController/GlcdController.cpp
  MainBrain/src/Controller/GlcdController/GlcdController.hpp
  MainBrain/src/Controller/Logger/Logger.cpp
  MainBrain/src/Controller/Logger/SerialLogger.cpp
  MainBrain/src/HV_batt.xbm
  MainBrain/src/IMD_ERR.xbm
  MainBrain/src/Just Barely.xbm
  MainBrain/src/LV_Batt.xbm
  MainBrain/src/MC_ERR.xbm
  MainBrain/src/Manager/StageManager/StageManager.cpp
  MainBrain/src/Manager/StageManager/StageManager.hpp
  MainBrain/src/Model/Constants/Constants.hpp
  MainBrain/src/Model/Constants/Flags.hpp
  MainBrain/src/Model/Constants/TimeDelay.hpp
  MainBrain/src/Model/Glcd/Glcd.cpp
  MainBrain/src/Model/Glcd/Glcd.hpp
  MainBrain/src/OK.xbm
  MainBrain/src/Shutdown.xbm
  MainBrain/src/Shutdown_sm.xbm
  MainBrain/src/main.cpp
  MainBrain/src/o_fok.xbm
  MainBrain/src/water_temp.xbm
Labels: dash, gui

#167 Sprint4
  .travis.yml
  MainBrain/platformio.ini
  MainBrain/src/BMS_ERR.xbm
  MainBrain/src/Controller/BaseController/BaseController.hpp
  MainBrain/src/Controller/CanController/CanController.cpp
  MainBrain/src/Controller/Controller.hpp
  MainBrain/src/Controller/DashController/DashController.cpp
  MainBrain/src/Controller/DashController/DashController.hpp
  MainBrain/src/Controller/GlcdController/GlcdController.cpp
  MainBrain/src/Controller/GlcdController/GlcdController.hpp
  MainBrain/src/Controller/Logger/LogListener.hpp
  MainBrain/src/Controller/Logger/Logger.cpp
  MainBrain/src/Controller/Logger/Logger.hpp
  MainBrain/src/Controller/Logger/SerialLogger.cpp
  MainBrain/src/Controller/Logger/SerialLogger.hpp
  MainBrain/src/Controller/OrionController/OrionController.cpp
  MainBrain/src/Controller/OrionController/OrionController.hpp
  MainBrain/src/Controller/PedalController/PedalController.cpp
  MainBrain/src/Controller/PedalController/PedalController.hpp
  MainBrain/src/Controller/SdCardController/SdCardController.cpp
  MainBrain/src/Controller/SdCardController/SdCardController.hpp
  MainBrain/src/Controller/UnitekController/UnitekController.cpp
  MainBrain/src/Controller/UnitekController/UnitekController.hpp
  MainBrain/src/HV_batt.xbm
  MainBrain/src/IMD_ERR.xbm
  MainBrain/src/Just Barely.xbm
  MainBrain/src/LV_Batt.xbm
  MainBrain/src/MC_ERR.xbm
  MainBrain/src/Manager/StageManager/StageManager.cpp
  MainBrain/src/Manager/StageManager/StageManager.hpp
  MainBrain/src/Model/Can/Can.cpp
  MainBrain/src/Model/Constants/Constants.hpp
  MainBrain/src/Model/Constants/Flags.hpp
  MainBrain/src/Model/Constants/TimeDelay.hpp
  MainBrain/src/Model/Glcd/Glcd.cpp
  MainBrain/src/Model/Glcd/Glcd.hpp
  MainBrain/src/Model/Orion/Orion.hpp
  MainBrain/src/Model/Queue/Queue.cpp
  MainBrain/src/Model/SdCard/SdCard.cpp
  MainBrain/src/Model/SdCard/SdCard.hpp
  MainBrain/src/Model/Unitek/Unitek.cpp
  MainBrain/src/Model/Unitek/Unitek.hpp
  MainBrain/src/OK.xbm
  MainBrain/src/Shutdown.xbm
  MainBrain/src/Shutdown_sm.xbm
  MainBrain/src/main.cpp
  MainBrain/src/o_fok.xbm
  MainBrain/src/water_temp.xbm
  MainBrain/test/ModelTest/CanTest/CanTest.cpp
  MainBrain/test/ModelTest/SdCardTest/SdCardTest.cpp
Labels: dash, gui, orion, pedals
