Repository smit-happens/YCP_EVOS, pull requests merged in 2018-03, with the labels that each got.

#47 Model work merge into develop in prep for first sprint
  CONTRIBUTING.md
  MainBrain/.gitignore
  MainBrain/src/Controller/BaseController/BaseController.hpp
  MainBrain/src/Controller/CoolingController/CoolingController.cpp
  MainBrain/src/Controller/CoolingController/CoolingController.hpp
  MainBrain/src/Controller/PedalController/PedalController.cpp
  MainBrain/src/Controller/PedalController/PedalController.hpp
  MainBrain/src/Manager/StageManager/StageManager.cpp
  MainBrain/src/Model/BaseModel/BaseModel.cpp
  MainBrain/src/Model/BaseModel/BaseModel.hpp
  MainBrain/src/Model/Batlog/Batlog.cpp
  MainBrain/src/Model/Batlog/Batlog.hpp
  MainBrain/src/Model/BrakePedal/BrakePedal.cpp
  MainBrain/src/Model/BrakePedal/BrakePedal.hpp
  MainBrain/src/Model/Button/Button.cpp
  MainBrain/src/Model/Button/Button.hpp
  MainBrain/src/Model/Can/Can.cpp
  MainBrain/src/Model/Can/Can.hpp
  MainBrain/src/Model/Constants/Port.hpp
  MainBrain/src/Model/Constants/RegistersOrion.hpp
  MainBrain/src/Model/Constants/TimeDelay.hpp
  MainBrain/src/Model/CoolingSystem/CoolingSystem.cpp
  MainBrain/src/Model/CoolingSystem/CoolingSystem.hpp
  MainBrain/src/Model/EncoderWrapper/EncoderWrapper.cpp
  MainBrain/src/Model/EncoderWrapper/EncoderWrapper.hpp
  MainBrain/src/Model/EventTask/EventTask.cpp
  MainBrain/src/Model/EventTask/EventTask.hpp
  MainBrain/src/Model/GasPedal/GasPedal.cpp
  MainBrain/src/Model/GasPedal/GasPedal.hpp
  MainBrain/src/Model/Glcd/Glcd.cpp
  MainBrain/src/Model/Glcd/Glcd.hpp
  MainBrain/src/Model/Imd/Imd.cpp
  MainBrain/src/Model/Imd/Imd.hpp
  MainBrain/src/Model/Light/Light.cpp
  MainBrain/src/Model/Light/Light.hpp
  MainBrain/src/Model/Orion/Orion.cpp
  MainBrain/src/Model/Orion/Orion.hpp
  MainBrain/src/Model/Rtc/Rtc.cpp
  MainBrain/src/Model/Siren/Siren.cpp
  MainBrain/src/Model/Siren/Siren.hpp
  MainBrain/src/Model/Unitek/Unitek.cpp
  MainBrain/src/Model/Unitek/Unitek.hpp
Labels: priority-high

#58 Travis ci
  .travis.yml
  MainBrain/.gitignore
  MainBrain/.travis.yml
  MainBrain/src/Model/SdCard/SdCard.cpp
  MainBrain/src/Model/SdCard/SdCard.hpp
Labels: priority-high

#61 Issue pr templates
  ISSUE_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Labels: documentation

#75 Gas pedal #25
  MainBrain/src/Controller/PedalController/PedalController.cpp
  MainBrain/src/Controller/PedalController/PedalController.hpp
  MainBrain/src/Model/BaseModel/BaseModel.cpp
  MainBrain/src/Model/BaseModel/BaseModel.hpp
  MainBrain/src/Model/BaseModel/BasePedal.hpp
  MainBrain/src/Model/BrakePedal/BrakePedal.cpp
  MainBrain/src/Model/BrakePedal/BrakePedal.hpp
  MainBrain/src/Model/GasPedal/GasPedal.cpp
  MainBrain/src/Model/GasPedal/GasPedal.hpp
  MainBrain/test/ModelTest/GasPedalTest/GasPedalTest.cpp
  MainBrain/test/ModelTest/GasPedalTest/GasPedalTest.hpp
Labels: pedals

#83 Unitek speed setpoint #26
  MainBrain/src/Controller/PedalController/PedalController.cpp
  MainBrain/src/Controller/UnitekController/UnitekController.cpp
  MainBrain/src/Controller/UnitekController/UnitekController.hpp
  MainBrain/src/Manager/StageManager/StageManager.cpp
  MainBrain/src/Model/BaseModel/BaseModel.hpp
  MainBrain/src/Model/Constants/Constants.hpp
  MainBrain/src/Model/Constants/RegistersUnitek.hpp
Labels: CAN, pedals, unitek

#98 Button interrupts #82
  MainBrain/platformio.ini
  MainBrain/src/Controller/BaseController/BaseController.hpp
  MainBrain/src/Controller/DashController/DashController.cpp
  MainBrain/src/Controller/DashController/DashController.hpp
  MainBrain/src/Controller/LightController/LightController.cpp
  MainBrain/src/Controller/LightController/LightController.hpp
  MainBrain/src/Manager/StageManager/StageManager.cpp
  MainBrain/src/Manager/StageManager/StageManager.hpp
  MainBrain/src/Model/Button/Button.cpp
  MainBrain/src/Model/Button/Button.hpp
  MainBrain/src/Model/Constants/Flags.hpp
  MainBrain/src/Model/Constants/TimeDelay.hpp
  MainBrain/src/Model/EventTask/EventTask.cpp
  MainBrain/src/Model/EventTask/EventTask.hpp
  MainBrain/src/Model/Glcd/Glcd.cpp
  MainBrain/src/Model/Glcd/Glcd.hpp
  MainBrain/src/Model/Light/Light.cpp
  MainBrain/src/Model/Light/Light.hpp
  MainBrain/src/Model/Siren/Siren.cpp
  MainBrain/src/Model/Siren/Siren.hpp
  MainBrain/src/main.cpp
  README.md
Labels: stage

#101 Code climate #85
  .travis.yml
  MainBrain/extra_script.py
  MainBrain/platformio.ini
Labels: dev-ops

#116 Unitek get set #43
  MainBrain/src/Controller/UnitekController/UnitekController.cpp
  MainBrain/src/Controller/UnitekController/UnitekController.hpp
  MainBrain/src/Model/Unitek/Unitek.cpp
  MainBrain/src/Model/Unitek/Unitek.hpp
Labels: unitek

#132 #114 implements checkErrorWarningForShutdown in UnitekController
  MainBrain/src/Controller/UnitekController/UnitekController.cpp
  MainBrain/src/Controller/UnitekController/UnitekController.hpp
  MainBrain/src/Model/Unitek/Unitek.hpp
Labels: unitek

#133 Stage work
  MainBrain/src/Manager/StageManager/StageManager.cpp
  MainBrain/src/Manager/StageManager/StageManager.hpp
  MainBrain/src/Model/Constants/Port.hpp
  MainBrain/src/main.cpp
Labels: stage
